<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--#include virtual="/ssi/content-header-h1.html"-->

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>活动管理</li>
                <li class="active">活动列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">活动列表</h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <button class="btn btn-primary btn-block btn-flat" data-toggle="modal"
                                            data-target="#add-activities-modal" @click="onCreateActivities">
                                        添加活动
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <my-vuetable
                                            :table-url="tableUrl"
                                            :table-fields="tableFields"
                                            :callbacks="callbacks"
                                    >
                                    </my-vuetable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add-activities-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center">添加活动</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" @submit.prevent="addActivities">
                                <div class="form-group">
                                    <label>活动名称</label>
                                    <input name="name" type="text" class="form-control" required
                                           v-model.trim="addActivitiesForm.name" placeholder="活动名称">
                                </div>
                                <div class="form-group">
                                    <label>状态</label>
                                    <v-select :searchable="false" :options="activitiesStateMap" v-model="activitiesStateValue"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <my-date-picker required
                                                    :date-format="dateFormat"
                                                    v-model="addActivitiesForm.open_time"
                                                    placeholder="开始时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <my-date-picker required
                                                    :date-format="dateFormat"
                                                    v-model="addActivitiesForm.end_time"
                                                    placeholder="结束时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>奖品</label>
                                    <v-select :searchable="false" multiple :options="activitiesRewardOptions" v-model="activitiesRewardValue"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>奖品刷新时间</label>
                                    <input name="reward_refresh_time" type="text" class="form-control" required
                                           v-model.trim="addActivitiesForm.reward_refresh_time" placeholder="奖品刷新时间(0 9 * * *)">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-activities-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center">编辑活动</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" @submit.prevent="editActivities">
                                <div class="form-group">
                                    <label>活动名称</label>
                                    <input name="name" type="text" class="form-control" required
                                           v-model.trim="editActivitiesForm.name" placeholder="活动名称">
                                </div>
                                <div class="form-group">
                                    <label>状态</label>
                                    <v-select :searchable="false" :options="activitiesStateMap" v-model="activitiesStateValue"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <my-date-picker required
                                            :date-format="dateFormat"
                                            v-model="editActivitiesForm.open_time"
                                            placeholder="开始时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <my-date-picker required
                                            :date-format="dateFormat"
                                            v-model="editActivitiesForm.end_time"
                                            placeholder="结束时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>奖品</label>
                                    <v-select :searchable="false" multiple :options="activitiesRewardOptions" v-model="activitiesRewardValue"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>奖品刷新时间</label>
                                    <input name="reward_refresh_time" type="text" class="form-control" required
                                           v-model.trim="editActivitiesForm.reward_refresh_time" placeholder="奖品刷新时间(0 9 * * *)">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="delete-activities-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center text-danger">确定删除此活动？</h3>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-flat btn-danger btn-lg pull-left" @click="deleteActivities">
                                删除
                            </button>
                            <button class="btn btn-flat btn-success btn-lg" data-dismiss="modal">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/activities/activities-list.js"></script>
</body>
</html>