<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--#include virtual="/ssi/content-header-h1.html"-->

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>活动管理</li>
                <li class="active">任务列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">任务列表</h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <button class="btn btn-primary btn-block btn-flat" data-toggle="modal"
                                            data-target="#add-task-modal" @click="onAddTask">
                                        添加任务
                                    </button>
                                </div>
                            </div>

                            <div class="row phone-scrollable">
                                <div class="col-md-12 col-xs-12">
                                    <my-vuetable
                                            :table-url="tableUrl"
                                            :table-fields="tableFields"
                                            :callbacks="callbacks"
                                            detail-row-component="detail-row"
                                    >
                                    </my-vuetable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add-task-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center">添加任务</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" @submit.prevent="addTask">
                                <div class="form-group">
                                    <label>名称</label>
                                    <input name="name" type="text" class="form-control" required
                                           v-model.trim="addTaskForm.name" placeholder="名称">
                                </div>
                                <div class="form-group">
                                    <label>任务类型</label>
                                    <v-select :searchable="false" :options="taskTypeOptions"
                                              v-model="taskTypeComment"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <my-date-picker required
                                                    :date-format="dateFormat"
                                                    v-model="addTaskForm.begin_time"
                                                    placeholder="开始时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <my-date-picker required
                                                    :date-format="dateFormat"
                                                    v-model="addTaskForm.end_time"
                                                    placeholder="结束时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>是否日常</label>
                                    <v-select :searchable="false" :options="ifDailyOptions"
                                              v-model="dailyValue"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>目标次数</label>
                                    <input name="target" type="number" min="1" class="form-control" required
                                           v-model.trim="addTaskForm.target" placeholder="目标次数">
                                </div>
                                <div class="form-group">
                                    <label>奖励</label>
                                    <v-select :searchable="false" :options="taskGoodsTypeOptions"
                                              v-model="taskGoodsTypeName"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>奖励次数</label>
                                    <input name="reward_count" type="number" min="1" class="form-control" required
                                           v-model.trim="taskGoodsCount" placeholder="奖励次数">
                                </div>
                                <div class="form-group">
                                    <label>任务开放时间段</label>
                                    <input name="mission_time" type="text" class="form-control" required
                                           v-model.trim="addTaskForm.mission_time"
                                           placeholder="任务开房时间段(例：00:00:00-10:00:00,13:00:00-20:00:00)">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-task-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center">编辑任务</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" @submit.prevent="editTask">
                                <div class="form-group">
                                    <label>名称</label>
                                    <input name="name" type="text" class="form-control" required
                                           v-model.trim="editTaskForm.name" placeholder="名称">
                                </div>
                                <div class="form-group">
                                    <label>任务类型</label>
                                    <v-select :searchable="false" :options="taskTypeOptions"
                                              v-model="taskTypeComment"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <my-date-picker required
                                                    :date-format="dateFormat"
                                                    v-model="editTaskForm.begin_time"
                                                    placeholder="开始时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <my-date-picker required
                                                    :date-format="dateFormat"
                                                    v-model="editTaskForm.end_time"
                                                    placeholder="结束时间"
                                    ></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <label>是否日常</label>
                                    <v-select :searchable="false" :options="ifDailyOptions"
                                              v-model="dailyValue"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>目标次数</label>
                                    <input name="target" type="number" min="1" class="form-control" required
                                           v-model.trim="editTaskForm.target" placeholder="目标次数">
                                </div>
                                <div class="form-group">
                                    <label>奖励</label>
                                    <v-select :searchable="false" :options="taskGoodsTypeOptions"
                                              v-model="taskGoodsTypeName"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>奖励次数</label>
                                    <input name="reward_count" type="number" min="1" class="form-control" required
                                           v-model.trim="taskGoodsCount" placeholder="奖励次数">
                                </div>
                                <div class="form-group">
                                    <label>任务开放时间段</label>
                                    <input name="mission_time" type="text" class="form-control" required
                                           v-model.trim="editTaskForm.mission_time"
                                           placeholder="任务开房时间段(例：00:00:00-10:00:00,13:00:00-20:00:00)">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="delete-task-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center text-danger">确定删除此任务？</h3>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-flat btn-danger btn-lg pull-left" @click="deleteTask">
                                删除
                            </button>
                            <button class="btn btn-flat btn-success btn-lg" data-dismiss="modal">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/activities/tasks-list.js"></script>
</body>
</html>