<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">数据总览</h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 v-cloak v-if="!loading">
                                                {{ summaryData.agent_purchased_total['card'] ? summaryData.agent_purchased_total['card'][0].total : 0 }}
                                            </h3>
                                            <p>代理商房卡购买总量</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 v-cloak v-if="!loading">
                                                {{ summaryData.player_consumed_total['card'] ? summaryData.player_consumed_total['card'][0].total : 0 }}
                                            </h3>
                                            <p>玩家房卡总消耗量</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 v-cloak v-if="!loading">
                                                {{ summaryData.player_total['card'] ? summaryData.player_total['card'][0].total : 0}}
                                            </h3>
                                            <p>玩家充值房卡总人数</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 v-cloak v-if="!loading">
                                                {{ summaryData.agent_purchased_total['coin'] ? summaryData.agent_purchased_total['coin'][0].total : 0 }}
                                            </h3>
                                            <p>代理商金币购买总量</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 v-cloak v-if="!loading">
                                                {{ summaryData.player_consumed_total['coin'] ? summaryData.player_consumed_total['coin'][0].total : 0}}
                                            </h3>
                                            <p>玩家金币总消耗量</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 v-cloak v-if="!loading">
                                                {{ summaryData.player_total['coin'] ? summaryData.player_total['coin'][0].total : 0}}
                                            </h3>
                                            <p>玩家充值金币总人数</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">数据图表</h3>
                        </div>
                        <my-chart
                                :chart-options="chartOptions">
                        </my-chart>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/home.js"></script>
</body>
</html>