<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>数据报表</li>
                <li class="active">战绩查询</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box box-primary" style="background-color: #ecf0f5">
                <div class="box-header with-border">
                    <h3 class="box-title">战绩查询</h3>
                </div>

                <div class="box-body">
                    <div class="container">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="getRecord">
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model.trim="uid" placeholder="查找用户id...">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary btn-flat" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <my-vuetable
                            :table-url="tableUrl"
                            :table-fields="tableFields"
                    >
                    </my-vuetable>
                </div>
            </div>

            <!--jQuery('#detail-record-modal').modal('show') 报错 变通方法-->
            <button style="display: none" class="btn btn-default btn-flat" data-toggle="modal"
                    data-target="#detail-record-modal" id="detail-record-modal-button"></button>
            <!--战绩流水模态框-->
            <div id="detail-record-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">房间号：{{ '待填充' }}  惠州庄  {{ '时间2017-11-11 11:11' }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li><a href="#game-type" data-toggle="tab">房间玩法</a></li>
                                    <li><a href="#game-ranking" data-toggle="tab">总分排行</a></li>
                                    <li class="active"><a href="#game-rounds" data-toggle="tab">战绩流水</a></li>
                                    <li class="pull-left header"><i class="fa fa-trophy"></i> 战绩详情</li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="chart tab-pane active" id="game-type" style="position: relative; height: 300px;">
                                        <my-vuetable
                                                :table-url="tableUrl"
                                                :table-fields="tableFields"
                                        >
                                        </my-vuetable>
                                    </div>
                                    <div class="chart tab-pane" id="game-ranking" style="position: relative; height: 300px;">
                                        总分排行
                                    </div>
                                    <div class="chart tab-pane" id="game-rounds" style="position: relative; height: 300px;">
                                        战绩流水
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="http://localhost:8080/dist/webpack/admin/statement/record.js"></script>
</body>
</html>