<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--#include virtual="/ssi/content-header-h1.html"-->

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>数据报表</li>
                <li class="active">开房数据报表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">开房数据报表</h3>
                        </div>

                        <div class="box-body">
                            <form role="form" method="GET" action="#" @submit.prevent="getRoomStatement">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">游戏类型</span>
                                                <v-select v-if="roomTypeOptions" :searchable="false" :options="roomTypeOptions"
                                                          v-model="roomTypeValue"></v-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <div class="from-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">选择日期</span>
                                                <my-date-picker required v-model="searchFormData.date"
                                                                placeholder="选择日期"
                                                                :date-format="dateFormat">
                                                </my-date-picker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-12">
                                        <div class="from-group">
                                            <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-3 col-xs-6 col-md-offset-3 col-xs-offset-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>开房总次数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.room_total_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>房卡开房次数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.player_opened_normal_room_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>后台开房次数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.web_opened_room_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>无效开房次数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.player_opened_invalid_room_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>开房人数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.normal_room_opened_players_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>平均开房次数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ ! roomStatementData.normal_room_opened_players_count ? 0
                                                    : _.floor(roomStatementData.player_opened_normal_room_count
                                                        / roomStatementData.normal_room_opened_players_count, 2) }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>游戏局数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.game_rounds_total_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>游戏人数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ roomStatementData.game_players_total_count }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>平均局数</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ ! roomStatementData.game_players_total_count ? 0
                                                    : _.floor(roomStatementData.game_rounds_total_count
                                                        / roomStatementData.game_players_total_count, 2) }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>平均游戏时长(小时)</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ ! roomStatementData.game_players_total_count ? 0
                                                    : _.floor(roomStatementData.total_player_game_duration
                                                        / roomStatementData.game_players_total_count / 3600, 2) }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h5>单局游戏时长(秒)</h5>
                                            <h4 class="text-bold" v-cloak>
                                                {{ ! roomStatementData.game_rounds_total_count ? 0
                                                    : _.floor(roomStatementData.total_room_game_duration
                                                        / roomStatementData.game_rounds_total_count, 2) }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<link rel="stylesheet" type="text/css" href="/css/admin/statement/room.css" />
<script src="/dist/webpack/admin/statement/room.js"></script>
</body>
</html>