<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#"> Player</a></li>
                <li class="active">List</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">玩家列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <template>
                        <filter-bar></filter-bar>

                        <!--<div class="pagination pull-left">
                            <vuetable-pagination-info ref="paginationInfoTop"
                            ></vuetable-pagination-info>
                        </div>
                        <vuetable-pagination ref="paginationTop"
                                             :css="css.pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>-->

                        <vuetable ref="vuetable"
                                  :api-url="vuetableUrl"
                                  :fields="tableFields"
                                  :sort-order="sortOrder"
                                  :css="css.table"
                                  pagination-path=""
                                  :per-page="15"
                                  :append-params="moreParams"
                                  @vuetable:pagination-data="onPaginationData"
                                  detail-row-component="detail-row"
                                  track-by="rid"
                                  @vuetable:cell-clicked="onCellClicked"
                        ></vuetable>

                        <div class="pagination pull-left">
                            <vuetable-pagination-info ref="paginationInfo"
                            ></vuetable-pagination-info>
                        </div>
                        <vuetable-pagination ref="pagination"
                                             :css="css.pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>
                    </template>

                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->

        <!-- Player Table Actions -->
        <!-- 给玩家充值 -->
        <div id="player-top-up-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">玩家充值</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="topUpPlayer">
                            <div class="form-group has-feedback">
                                <label>玩家ID</label>
                                <input name="player_id" type="text" class="form-control"
                                       v-model.trim="activatedRow.rid" disabled>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>充值类型</label>
                                <select class="form-control" v-model.trim="topUpData.typeId">
                                    <option v-for="(value, index) in topUpData.type" :value="index"
                                            v-if="index == topUpData.typeId" selected>
                                        {{ value }}
                                    </option>
                                    <option v-else :value="index">
                                        {{ value }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label>充值数量</label>
                                <input name="amount" type="number" required min="1" class="form-control"
                                       v-model.trim="topUpData.amount">
                                <span class="glyphicon glyphicon-yen form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Player Table Actions -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script>
    Vue.use(Vuetable);      //注册vuetable-2插件
    var Hub = new Vue();    //event hub，事件中心，用于非父子组件中的事件传递

    //注册处理每行数据的组件
    var tableActions = {
        template: `
                <div class="table-actions">
                    <button class="btn btn-default" data-toggle="modal" data-target="#player-top-up-modal"
                        @click="topUpPlayerAction(rowData)" title="充值"><i class="glyphicon glyphicon-credit-card"></i>
                    </button>
                    <!--<button class="btn btn-default" data-toggle="modal" data-target="#player-block-modal"
                        @click="blockPlayerAction(rowData)" title="封禁"><i class="glyphicon glyphicon-ban-circle"></i>
                    </button>-->
                </div>`,
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            topUpPlayerAction (data) {
                Hub.$emit('topUpPlayerEvent', data);
            },
            blockPlayerAction (data) {
                Hub.$emit('blockPlayerEvent', data);
            },
        }
    }
    Vue.component('table-actions', tableActions);

    //注册Detail Row，达到点击每行显示更多信息的效果
    var detailRow = {
        template: `
            <div @click="onClick">
              <div class="">
                <label>上次登录ip:&nbsp;&nbsp;</label>
                <span>{{rowData.last_login_ip}}</span>
              </div>
              <div class="">
                <label>创建时间:&nbsp;&nbsp;</label>
                <span>{{rowData.create_time}}</span>
              </div>
            </div>`,
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            },
        },
        methods: {
            onClick (event) {
                //console.log('detail-row: on-click', event.target)
            }
        },
    }
    Vue.component('detail-row', detailRow);

    //注册搜索条组件
    var filterBar = {
        template: `
            <div class="row" style="margin-right: 50px;margin-bottom: 8px;">
                <div class="input-group col-xs-4 pull-right">
                      <input type="text" v-model.trim="filterText" class="form-control" @keyup.enter="doFilter" placeholder="查找玩家ID...">
                      <span class="input-group-btn">
                        <button class="btn btn-flat" @click="doFilter">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </span>
                </div>
            </div>`,
        data: function () {
            return {
                filterText: '',
            }
        },
        methods: {
            doFilter () {
                Hub.$emit('filterEvent', this.filterText);
            },
        }
    };
    Vue.component('filter-bar', filterBar);

    var app = new Vue({
        el: '#app',
        data: {
            vuetableUrl: '/admin/api/player',

            activatedRow: {},       //待编辑的行

            topUpData: {
                type: {
                    1: '房卡',
                    2: '金币'
                },
                typeId: 1,
                amount: null,
            },

            onlineState: ['离线', '在线'],

            tableFields: [
                {
                    name: 'rid',
                    title: '玩家ID',
                    sortField: 'rid',
                },
                {
                    name: 'nick',
                    title: '玩家昵称',
                },
                {
                    name: 'card.count',
                    title: '房卡数量'
                },
                {
                    name: 'gold',
                    title: '金币数量',
                    sortField: 'gold',
                },
                {
                    name: 'online',
                    title: '在线状态',
                    sortField: 'online',
                    callback: 'getOnlineState'
                },
                {
                    name: 'last_login_time',
                    title: '最后登录时间',
                },
                {
                    name: 'last_offline_time',
                    title: '最后离线时间'
                },
                {
                    name: '__component:table-actions',
                    title: '操作',
                    titleClass: 'text-center',
                    dataClass: 'text-center',
                },
            ],

            sortOrder: [    //默认的排序
                {
                    field: 'rid',
                    sortField: 'rid',
                    direction: 'desc',
                }
            ],

            css: {
                table: {
                    tableClass: 'table table-striped table-bordered',
                    ascendingIcon: 'glyphicon glyphicon-chevron-up',
                    descendingIcon: 'glyphicon glyphicon-chevron-down',
                    handleIcon: 'glyphicon glyphicon-menu-hamburger',
                    renderIcon: function(classes, options) {
                        return `<span class="${classes.join(' ')}"></span>`
                    }
                },
                pagination: {
                    wrapperClass: "pagination pull-right",
                    activeClass: "btn-primary",
                    disabledClass: "disabled",
                    pageClass: "btn btn-border",
                    linkClass: "btn btn-border",
                    icons: {
                        first: "",
                        prev: "",
                        next: "",
                        last: ""
                    }
                }
            },

            moreParams: {},
        },

        methods: {
            onPaginationData (paginationData) {
                //this.$refs.paginationTop.setPaginationData(paginationData)
                //this.$refs.paginationInfoTop.setPaginationData(paginationData)

                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page);
            },
            onCellClicked (data, field, event) {
                //console.log('cellClicked: ', field.name, data.email)
                this.$refs.vuetable.toggleDetailRow(data.rid);
            },

            getOnlineState (state) {
                return this.onlineState[state];
            },

            topUpPlayer () {
                var _self = this;

                axios({
                    method: 'POST',
                    url: `/admin/api/top-up/player/${_self.activatedRow.rid}/${_self.topUpData.typeId}/${_self.topUpData.amount}`,
                    validateStatus: function (status) {
                        return status == 200 || status == 422;
                    }
                })
                    .then(function (response) {
                        if (response.status === 422) {
                            alert(JSON.stringify(response.data))
                        } else {
                            response.data.error ? alert(response.data.error) : alert(response.data.message);
                            _self.topUpData.amount = null;
                        }
                    })
                    .catch(function (err) {
                        alert(err);
                        console.log(err);
                    });
            },
        },

        mounted: function () {
            var _self = this;

            Hub.$on('topUpPlayerEvent', function (data) {
                _self.activatedRow = data;
            });
            Hub.$on('blockPlayerEvent', function (data) {
                _self.activatedRow = data;
            });
            Hub.$on('filterEvent', function (filterText) {
                _self.moreParams = {
                    'filter': filterText,
                };
                Vue.nextTick(function (){
                    _self.$refs.vuetable.refresh();
                })
            });
        },
    });
</script>
</body>
</html>