<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>玩家管理</li>
                <li class="active">玩家列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">玩家列表</h3>
                </div>

                <div class="box-body">
                    <div class="row phone-scrollable">
                        <div class="col-md-12">
                            <filter-bar placeholder="查找玩家ID"></filter-bar>
                            <my-vuetable
                                    :table-url="tableUrl"
                                    :table-fields="tableFields"
                                    :table-sort-order="tableSortOrder"
                                    :table-track-by="tableTrackBy">
                            </my-vuetable>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->

        <!-- 玩家充值模态框 -->
        <div id="player-top-up-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">玩家充值</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="topUpPlayer">
                            <div class="form-group has-feedback">
                                <label>玩家ID</label>
                                <input name="player_id" type="text" class="form-control"
                                       v-model="activatedRow.id" disabled>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>充值类型</label>
                                <select class="form-control" v-model.trim="topUpData.typeId">
                                    <option v-for="(value, index) in topUpData.type" :value="index"
                                            v-if="index == topUpData.typeId" selected>
                                        {{ value }}
                                    </option>
                                    <option v-else :value="index">
                                        {{ value }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label>充值数量</label>
                                <input name="amount" type="number" required min="1" class="form-control"
                                       v-model.trim="topUpData.amount">
                                <span class="glyphicon glyphicon-yen form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <my-toastr ref="toastr"></my-toastr>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/player/list.js"></script>
</body>
</html>