<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>代理商</li>
                <li class="active">代理商列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">代理商列表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <filter-bar placeholder="查找代理商账号..."></filter-bar>
                            <my-vuetable
                                    :table-url="tableUrl"
                                    :table-fields="tableFields"
                                    :callbacks="callbacks"
                                    detail-row-component="detail-row"
                            >
                            </my-vuetable>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->

        <!-- 给代理商充值 -->
        <div id="top-up-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">代理商充值</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="topUpAgent">
                            <div class="form-group has-feedback">
                                <label>代理级别</label>
                                <input name="group_name" type="text" class="form-control"
                                       v-model.trim="activatedRow.group.name" disabled>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>充值类型</label>
                                <select class="form-control" v-model.trim="topUpData.typeId">
                                    <option v-for="(value, index) in topUpData.type" :value="index"
                                            v-if="index == topUpData.typeId" selected>
                                        {{ value }}
                                    </option>
                                    <option v-else :value="index">
                                        {{ value }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label>充值数量</label>
                                <input name="amount" type="number" required min="1" class="form-control"
                                       v-model.trim="topUpData.amount">
                                <span class="glyphicon glyphicon-yen form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 更改用户信息 -->
        <div id="agent-info-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">修改代理商信息</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="editAgentInfo">
                            <div class="form-group has-feedback">
                                <label>昵称</label>
                                <input name="name" type="text" class="form-control" required
                                       v-model.trim="activatedRow.name" placeholder="昵称">
                                <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>账号</label>
                                <input name="account" type="text" class="form-control" required
                                       v-model.trim="activatedRow.account" placeholder="账号">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <!--                    <div class="form-group">
                                                    <label>代理类型</label>
                                                    <select class="form-control" v-model="activatedRow.group_id">
                                                        <option v-for="(agent, index) in agentType" :value="index"
                                                                v-if="agent == agentType[activatedRow.group_id]" selected>
                                                            {{ agent }}
                                                        </option>
                                                        <option v-else :value="index">
                                                            {{ agent }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label>上级代理</label>
                                                    <input name="parent_account" type="parent_account" class="form-control" v-validate="'required|min: 6'"
                                                           v-model.trim="activatedRow.parent.name" placeholder="上级代理账号名">
                                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                                    <span v-show="errors.has('parent_account')" class="text-danger">{{ errors.first('parent_account') }}</span>
                                                </div>-->

                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 更新代理商密码 -->
        <div id="agent-password-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">修改代理商密码</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="updateAgentPassword">
                            <div class="form-group has-feedback">
                                <input name="password" type="password" class="form-control" required
                                       placeholder="代理商密码" v-model.trim="changePassword.password">
                                <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 删除代理商 -->
        <div id="delete-agent-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 360px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center text-danger">确定删除此代理商？</h3>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-flat btn-danger btn-lg pull-left" @click="deleteAgent">
                            删除
                        </button>
                        <button class="btn btn-flat btn-success btn-lg" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/agent/list.js"></script>
</body>
</html>