<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#"> 公告管理</a></li>
                <li class="active">跑马灯</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">跑马灯公告</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row col-md-3">
                        <button class="btn btn-block btn-primary btn-flat" data-toggle="modal"
                                data-target="#new-marquee-modal">
                            新建跑马灯公告
                        </button>
                    </div>
                    <template>

                        <!--<div class="pagination pull-left">
                            <vuetable-pagination-info ref="paginationInfoTop"
                            ></vuetable-pagination-info>
                        </div>
                        <vuetable-pagination ref="paginationTop"
                                             :css="css.pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>-->

                        <vuetable ref="vuetable"
                                  :api-url="vuetableUrl"
                                  :fields="tableFields"
                                  :sort-order="sortOrder"
                                  :css="css.table"
                                  pagination-path=""
                                  :per-page="15"
                                  :append-params="moreParams"
                                  @vuetable:pagination-data="onPaginationData"
                                  detail-row-component="detail-row"
                                  track-by="rid"
                                  @vuetable:cell-clicked="onCellClicked"
                        ></vuetable>

                        <div class="pagination pull-left">
                            <vuetable-pagination-info ref="paginationInfo"
                            ></vuetable-pagination-info>
                        </div>
                        <vuetable-pagination ref="pagination"
                                             :css="css.pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>
                    </template>

                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->

        <!-- 新建跑马灯公告模态框 -->
        <div id="new-marquee-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">新建跑马灯公告</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="createMarquee">
                            <div class="form-group has-feedback">
                                <label>优先级</label>
                                <select class="form-control" v-model.trim="createMarqueeData.priority">
                                    <option v-for="(value, index) in priorityType" :value="index"
                                            v-if="index == createMarqueeData.priority" selected>
                                        {{ value }}
                                    </option>
                                    <option v-else :value="index">
                                        {{ value }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label>时间间隔</label>
                                <input name="interval" type="number" min="1" required class="form-control"
                                       v-model.trim="createMarqueeData.interval">
                                <span class="glyphicon glyphicon-time form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>开始时间</label>
                                <date-picker required :config='datePickerConf' v-model.trim="createMarqueeData.start_at"></date-picker>
                                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>结束时间</label>
                                <date-picker required :config='datePickerConf' v-model.trim="createMarqueeData.end_at"></date-picker>
                                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label>公告内容</label>
                                <textarea type="text" class="form-control" row="3" required
                                          v-model.trim="createMarqueeData.content"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script>
    Vue.component('date-picker', VueBootstrapDatetimePicker.default);   //注册date-picker组件

    Vue.use(Vuetable);      //注册vuetable-2插件
    var Hub = new Vue();    //event hub，事件中心，用于非父子组件中的事件传递

    //注册处理每行数据的组件
    var tableActions = {
        template: `
                <div class="table-actions">
                    <button class="btn btn-default" data-toggle="modal" data-target="#player-top-up-modal"
                        @click="topUpPlayerAction(rowData)" title="充值"><i class="glyphicon glyphicon-credit-card"></i>
                    </button>
                    <!--<button class="btn btn-default" data-toggle="modal" data-target="#player-block-modal"
                        @click="blockPlayerAction(rowData)" title="封禁"><i class="glyphicon glyphicon-ban-circle"></i>
                    </button>-->
                </div>`,
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            topUpPlayerAction (data) {
                Hub.$emit('topUpPlayerEvent', data);
            },
            blockPlayerAction (data) {
                Hub.$emit('blockPlayerEvent', data);
            },
        }
    }
    Vue.component('table-actions', tableActions);

    //注册Detail Row，达到点击每行显示更多信息的效果
    var detailRow = {
        template: `
            <div @click="onClick">
              <div class="">
                <label>上次登录ip:&nbsp;&nbsp;</label>
                <span>{{rowData.last_login_ip}}</span>
              </div>
              <div class="">
                <label>创建时间:&nbsp;&nbsp;</label>
                <span>{{rowData.create_time}}</span>
              </div>
            </div>`,
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            },
        },
        methods: {
            onClick (event) {
                //console.log('detail-row: on-click', event.target)
            }
        },
    }
    Vue.component('detail-row', detailRow);

    var app = new Vue({
        el: '#app',
        data: {
            vuetableUrl: '/admin/api/player',

            activatedRow: {},       //待编辑的行

            datePickerConf: {       //datePicker配置项
                locale: moment().local('zh_cn'),
            },

            priorityType: {
                1: '高',
                2: '低'
            },

            createMarqueeData: {
                priority: 1,
                interval: null,
                start_at: null,
                end_at: null,
                content: null,
            },

            topUpData: {
                type: {
                    1: '房卡',
                    2: '金币'
                },
                typeId: 1,
                amount: null,
            },

            onlineState: ['离线', '在线'],

            tableFields: [
                {
                    name: 'rid',
                    title: '玩家ID',
                    sortField: 'rid',
                },
                {
                    name: 'nick',
                    title: '玩家昵称',
                },
                {
                    name: 'card.count',
                    title: '房卡数量'
                },
                {
                    name: 'gold',
                    title: '金币数量',
                    sortField: 'gold',
                },
                {
                    name: 'online',
                    title: '在线状态',
                    sortField: 'online',
                    callback: 'getOnlineState'
                },
                {
                    name: 'last_login_time',
                    title: '最后登录时间',
                },
                {
                    name: 'last_offline_time',
                    title: '最后离线时间'
                },
                {
                    name: '__component:table-actions',
                    title: '操作',
                    titleClass: 'text-center',
                    dataClass: 'text-center',
                },
            ],

            sortOrder: [    //默认的排序
                {
                    field: 'rid',
                    sortField: 'rid',
                    direction: 'desc',
                }
            ],

            css: {
                table: {
                    tableClass: 'table table-striped table-bordered',
                    ascendingIcon: 'glyphicon glyphicon-chevron-up',
                    descendingIcon: 'glyphicon glyphicon-chevron-down',
                    handleIcon: 'glyphicon glyphicon-menu-hamburger',
                    renderIcon: function(classes, options) {
                        return `<span class="${classes.join(' ')}"></span>`
                    }
                },
                pagination: {
                    wrapperClass: "pagination pull-right",
                    activeClass: "btn-primary",
                    disabledClass: "disabled",
                    pageClass: "btn btn-border",
                    linkClass: "btn btn-border",
                    icons: {
                        first: "",
                        prev: "",
                        next: "",
                        last: ""
                    }
                }
            },

            moreParams: {},
        },

        methods: {
            onPaginationData (paginationData) {
                //this.$refs.paginationTop.setPaginationData(paginationData)
                //this.$refs.paginationInfoTop.setPaginationData(paginationData)

                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page);
            },
            onCellClicked (data, field, event) {
                //console.log('cellClicked: ', field.name, data.email)
                this.$refs.vuetable.toggleDetailRow(data.rid);
            },

            getOnlineState (state) {
                return this.onlineState[state];
            },

            topUpPlayer () {
                var _self = this;

                if (_self.errors.any()) { return false; }    //表单验证，验证失败不提交

                axios({
                    method: 'POST',
                    url: `/admin/api/top-up/player/${_self.activatedRow.rid}/${_self.topUpData.typeId}/${_self.topUpData.amount}`,
                    validateStatus: function (status) {
                        return status == 200 || status == 422;
                    }
                })
                    .then(function (response) {
                        if (response.status === 422) {
                            alert(JSON.stringify(response.data))
                        } else {
                            response.data.error ? alert(response.data.error) : alert(response.data.message);
                            _self.topUpData.amount = null;
                        }
                    })
                    .catch(function (err) {
                        alert(err);
                        console.log(err);
                    });
            },

            createMarquee () {
                var _self = this;

                //格式化moment对象为时间戳
                _self.createMarqueeData.start_at = _self.createMarqueeData.start_at.format('X');
                _self.createMarqueeData.end_at = _self.createMarqueeData.end_at.format('X');

                if (_self.createMarqueeData.end_at <= _self.createMarqueeData.start_at) {
                    return alert('结束时间不能早于开始时间');
                }

                axios({
                    method: 'POST',
                    url: '/admin/api/notification/marquee',
                    data: _self.createMarqueeData,
                    validateStatus: function (status) {
                        return status == 200 || status == 422;
                    }
                })
                    .then(function (response) {
                        if (response.status === 422) {
                            alert(JSON.stringify(response.data))
                        } else {
                            response.data.error ? alert(response.data.error) : alert(response.data.message);
                            for (var index of Object.keys(_self.createMarqueeData)) {
                                _self.createMarqueeData[index] = null;
                            }
                        }
                    })
                    .catch(function (err) {
                        alert(err);
                        console.log(err);
                    });
            }
        },

        mounted: function () {
            var _self = this;

            Hub.$on('topUpPlayerEvent', function (data) {
                _self.activatedRow = data;
            });
            Hub.$on('blockPlayerEvent', function (data) {
                _self.activatedRow = data;
            });
        },
    });
</script>
</body>
</html>