<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/agent/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--#include virtual="/ssi/content-header-h1.html"-->

            <ol class="breadcrumb">
                <li><a href="/agent/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>子代理商管理</li>
                <li class="active">新建子代理商</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box box-primary col-xs-12">
                <div class="box-header with-border">
                    <h3 class="box-title">新建子代理商</h3>
                </div>
                <!-- /.box-header -->
                <form role="form" class="form-group col-xs-6" method="POST"
                      action="#" @submit.prevent="createAgent">
                    <div class="box-body">
                        <div class="form-group">
                            <label>账号</label>
                            <input name="account" type="text" class="form-control" placeholder="登录账号"
                                   v-model.trim="formData.account" required>
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input name="password" type="password" class="form-control" placeholder="密码"
                                   v-model.trim="formData.password" required >
                        </div>
                        <div class="form-group">
                            <label>密码确认</label>
                            <input name="password_confirmation" type="password" class="form-control"
                                   placeholder="再次输入密码" v-model.trim="formData.password_confirmation" required>
                        </div>
                        <div class="form-group">
                            <label>昵称</label>
                            <input name="name" type="text" class="form-control" placeholder="昵称"
                                   v-model.trim="formData.name" required>
                        </div>
                        <div class="form-group">
                            <label>代理类型</label>
                            <select name="group_id" class="form-control" v-model.trim="formData.group_id">
                                <option v-for="(type, index) in agentType" :value="index"
                                        v-if="index >= currentAgentInfo['group_id'] + 1">
                                    {{ type }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                        </div>
                    </div>
                <!-- /.box-body -->
                </form>

            </div>

            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/agent/subagent/create.js"></script>
</body>
</html>