<!-- 给代理商充值 -->
<div id="top-up-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h3 class="text-center">代理商充值</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-group" method="POST" action="#" @submit.prevent="topUpAgent">
                    <div class="form-group has-feedback">
                        <label>代理级别</label>
                        <input name="group_name" type="text" class="form-control"
                               v-model.trim="activatedRow.group.name" disabled>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>充值类型</label>
                        <select class="form-control" v-model.trim="topUpData.typeId">
                            <option v-for="(value, index) in topUpData.type" :value="index"
                                    v-if="index == topUpData.typeId" selected>
                                {{ value }}
                            </option>
                            <option v-else :value="index">
                                {{ value }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <label>充值数量</label>
                        <input name="amount" type="text" class="form-control" v-validate="'required|numeric'"
                               v-model.trim="topUpData.amount">
                        <span class="glyphicon glyphicon-yen form-control-feedback"></span>
                        <span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 更改用户信息 -->
<div id="agent-info-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h3 class="text-center">修改代理商信息</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-group" method="POST" action="#" @submit.prevent="editAgentInfo">
                    <div class="form-group has-feedback">
                        <label>昵称</label>
                        <input name="name" type="text" class="form-control" v-validate="'required|max:255'"
                               v-model.trim="activatedRow.name" placeholder="昵称">
                        <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
                        <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>账号</label>
                        <input name="account" type="account" class="form-control" v-validate="'required|max:255'"
                               v-model.trim="activatedRow.account" placeholder="账号">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <span v-show="errors.has('account')" class="text-danger">{{ errors.first('account') }}</span>
                    </div>
<!--                    <div class="form-group">
                        <label>代理类型</label>
                        <select class="form-control" v-model="activatedRow.group_id">
                            <option v-for="(agent, index) in agentType" :value="index"
                                    v-if="agent == agentType[activatedRow.group_id]" selected>
                                {{ agent }}
                            </option>
                            <option v-else :value="index">
                                {{ agent }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <label>上级代理</label>
                        <input name="parent_account" type="parent_account" class="form-control" v-validate="'required|min: 6'"
                               v-model.trim="activatedRow.parent.name" placeholder="上级代理账号名">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <span v-show="errors.has('parent_account')" class="text-danger">{{ errors.first('parent_account') }}</span>
                    </div>-->

                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 更新代理商密码 -->
<div id="agent-password-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h3 class="text-center">修改代理商密码</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-group" method="POST" action="#" @submit.prevent="updateAgentPassword">
                    <div class="form-group has-feedback">
                        <input name="password" type="password" class="form-control" v-validate="'required|min: 6'"
                               placeholder="代理商密码" v-model.trim="changePassword.password">
                        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                        <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 删除代理商 -->
<div id="delete-agent-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 360px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h3 class="text-center text-danger">确定删除此代理商？</h3>
            </div>

            <div class="modal-footer">
                <button class="btn btn-flat btn-danger btn-lg pull-left" @click="deleteAgent">
                    删除
                </button>
                <button class="btn btn-flat btn-success btn-lg" data-dismiss="modal">
                    取消
                </button>
            </div>

            <div style="margin-left: 15px; padding-bottom: 1px;">
                <p :class="deleteAgentResponse.ifSuccess ? 'text-green' : 'text-danger'">
                    {{ deleteAgentResponse.message }}
                </p>
            </div>

            </div>
        </div>
    </div>
</div>