<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--#include virtual="/ssi/content-header-h1.html"-->

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>订单提现管理</li>
                <li>提现列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">提现列表</h3>
                </div>

                <div class="box-body">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-3 col-xs-12">
                            <v-select :searchable="false" v-model="statusDefaultValue" :options="statusOptions"
                                      :on-change="onSelectChange"></v-select>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="input-group">
                                <form method="POST" action="#" @submit.prevent="onSelectChange" style="display: inherit;">
                                    <input type="text" class="form-control" v-model.trim="user_id"
                                           placeholder="查找代理商id...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-flat" type="submit">提交</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="row phone-scrollable">
                        <div class="col-md-12 col-xs-12">
                            <my-vuetable
                                    :table-url="tableUrl"
                                    :table-fields="tableFields"
                            >
                            </my-vuetable>
                        </div>
                    </div>
                </div>
                <!--box-body-->
            </div>


            <div id="autdit-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h3 class="text-center">审核牌艺馆</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" @submit.prevent="audit">
                                <div class="form-group">
                                    <label>审核状态</label>
                                    <v-select :searchable="false" v-model="auditValue"
                                              :options="auditOptions"></v-select>
                                </div>
                                <div class="form-group">
                                    <label>备注说明</label>
                                    <input type="text" v-model="remarkValue" required placeholder="备注说明" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/order/withdrawals.js"></script>
</body>
</html>