<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>梦</b>晨</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>梦晨</b>管理后台</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!-- 手机模式下展开顶端的左边导航的按钮 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- 顶端的左边导航栏位 -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav" v-cloak>
                <li v-if="!loading"><a>房卡库存：{{ inventoryAmount.cards ? inventoryAmount.cards : 0}}</a></li>
                <li v-if="!loading"><a>金币库存：{{ inventoryAmount.coins ? inventoryAmount.cards : 0}}</a></li>
            </ul>
        </div>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span v-cloak v-if="!loading">{{ adminInfo.account }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-footer">
                            <div class="pull-left">
                                <button class="btn btn-default btn-flat" data-toggle="modal"
                                        data-target="#change-password-modal">
                                    修改密码
                                </button>
                            </div>
                            <div class="pull-right">
                                <form id="logout-form" action="/logout" method="POST" @submit.prevent="logoutAction">
                                    <button type="submit" class="btn btn-default btn-flat">退出登录</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- 重置密码提示框 -->
<div id="change-password-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h3 class="text-center">修改密码</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-group" method="POST" action="#" @submit.prevent="changePasswordAction">
                    <div class="form-group has-feedback">
                        <input name="password" type="password" class="form-control" required
                               placeholder="旧密码" v-model.trim="formData.password">
                        <span class="fa fa-user-secret form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input name="new_password" type="password" class="form-control" required
                               placeholder="新密码" v-model.trim="formData.new_password">
                        <span class="fa fa-pencil form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input name="new_password_confirmation" type="password" class="form-control" required
                               placeholder="再次输入新密码" v-model.trim="formData.new_password_confirmation">
                        <span class="fa fa-pencil form-control-feedback"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <my-toastr ref="toastr"></my-toastr>
</div>