<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>权限管理</li>
                <li class="active">组列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">组列表</h3>
                </div>

                <div class="box-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-2">
                            <button class="btn btn-block btn-primary btn-flat" data-toggle="modal"
                                    data-target="#create-group-modal">新建组</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 phone-scrollable">
                            <my-vuetable :table-url="groupListApi"
                                         :table-fields="tableFields"
                            ></my-vuetable>
                        </div>
                    </div>
                </div>
            </div>

            <div id="create-group-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">新建组</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" method="POST" action="#" @submit.prevent="createGroup">
                                <div class="form-group">
                                    <label>组名</label>
                                    <input type="text" required class="form-control" v-model.trim="createGroupData.name">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-group-name-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">更改组名</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-group" method="POST" action="#" @submit.prevent="editGroupName">
                                <div class="form-group">
                                    <label>组名</label>
                                    <input type="text" required class="form-control" v-model.trim="activatedRow.name">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-flat">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="delete-group-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">是否确认删除组 <b class="text-red">{{ activatedRow.name }}</b></h4>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-flat btn-success btn-lg" data-dismiss="modal">
                                取消
                            </button>
                            <button class="btn btn-flat btn-danger btn-lg pull-left" type="submit" @click="deleteGroup">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-group-permission-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="text-center">编辑组权限</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" @submit.prevent="editGroupPermission">
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">首页</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox disabled v-model="currentGroupPermission.home.ifShown">&nbsp;显示</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">数据报表</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.statement.summary.ifShown">&nbsp;数据总览</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">GM功能</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.gm.room.ifShown">&nbsp;房间管理</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.gm.record.ifShown">&nbsp;战绩查询</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">玩家管理</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.player.list.ifShown">&nbsp;玩家列表</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">库存管理</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.stock['apply-request'].ifShown">&nbsp;申请库存</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.stock['apply-list'].ifShown">&nbsp;库存列表</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.stock['apply-history'].ifShown">&nbsp;审核记录</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">代理商管理</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.agent.create.ifShown">&nbsp;新建代理商</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.agent.list.ifShown">&nbsp;代理商列表</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">充值记录</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission['top-up'].admin.ifShown">&nbsp;管理员充值记录</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission['top-up'].agent.ifShown">&nbsp;代理商充值记录</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission['top-up'].player.ifShown">&nbsp;玩家充值记录</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">权限管理</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.permission.member.ifShown">&nbsp;角色列表</checkbox>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.permission.group.ifShown">&nbsp;组列表</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-3 text-center">系统管理</div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <checkbox v-model="currentGroupPermission.system.log.ifShown">&nbsp;系统日志</checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        <button class="btn btn-block btn-primary btn-flat" type="submit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <my-toastr ref="toastr"></my-toastr>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/admin/permission/group.js"></script>
</body>
</html>