<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/agent/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="/agent/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>玩家管理</li>
                <li class="active">玩家充值</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">玩家充值</h3>
                </div>
                <!-- /.box-header -->
                <form role="form" id="player-top-up-form" class="form-group" method="POST"
                      action="#" @submit.prevent="topUpPlayer">
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <label>玩家ID</label>
                            <input name="player" type="number" class="form-control" placeholder="玩家ID"
                                   v-model.trim="topUpData.playerId">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <label>充值类型</label>
                            <select class="form-control" v-model.trim="topUpData.typeId">
                                <option v-for="(value, index) in topUpData.type" :value="index"
                                        v-if="index == topUpData.typeId" selected>
                                    {{ value }}
                                </option>
                                <option v-else :value="index">
                                    {{ value }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group has-feedback">
                            <label>充值数量</label>
                            <input name="amount" type="number" min="1" class="form-control" placeholder="充值数量"
                                   v-model.trim="topUpData.amount">
                            <span class="glyphicon glyphicon-yen form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                        </div>
                    </div>
                </form>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script>
    var playerTopUpApp = new Vue({
        el: '#player-top-up-form',
        data: {
            topUpData: {
                playerId: '',
                type: {
                    1: '房卡',
                    2: '金币'
                },
                typeId: 1,
                amount: null,
            },
        },
        methods: {
            topUpPlayer () {
                var _self = this;

                axios({
                    method: 'POST',
                    url: `/agent/api/top-up/player/${_self.topUpData.playerId}/${_self.topUpData.typeId}/${_self.topUpData.amount}`,
                    validateStatus: function (status) {
                        return status == 200 || status == 422;
                    }
                })
                    .then(function (response) {
                        if (response.status === 422) {
                            alert(JSON.stringify(response.data))
                        } else {
                            response.data.error ? alert(response.data.error) : alert(response.data.message);
                            _self.topUpData.amount = null;
                        }
                    })
                    .catch(function (err) {
                        alert(err);
                        console.log(err);
                    });
            }
        }
    });
</script>
</body>
</html>