<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/agent/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="/agent/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>库存管理</li>
                <li class="active">申请记录</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查看申请记录</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <my-vuetable
                            :table-url="tableUrl"
                            :table-fields="tableFields"
                            :callbacks="callbacks"
                    >
                    </my-vuetable>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="/dist/webpack/agent/stock/apply-history.js"></script>
</body>
</html>