<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/ssi/header.html"-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!--#include virtual="/ssi/main-header.html"-->

    <!-- Main sidebar -->
    <!--#include virtual="/ssi/admin/sidebar.html"-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                梦晨
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin/home"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>GM功能</li>
                <li>公告管理</li>
                <li class="active">登录公告</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">登录公告</h3>
                        </div>

                        <div class="box-body">
                            <div class="row col-md-3">
                                <button class="btn btn-block btn-primary btn-flat" data-toggle="modal"
                                        data-target="#new-login-modal">
                                    新建登录公告
                                </button>
                            </div>
                            <my-vuetable
                                :table-url="tableUrl"
                                :table-fields="tableFields"
                                :detail-row-component="detailRowComponent"
                                :callbacks="callbacks"
                            >
                            </my-vuetable>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->

        <!-- 新建登录公告模态框 -->
        <div id="new-login-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" style="width: 380px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="text-center">新建登录公告</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-group" method="POST" action="#" @submit.prevent="createNotification">
                            <div class="form-group has-feedback">
                                <label>开始时间</label>
                                <date-picker required v-model="formData.start_at" placeholder="开始时间"></date-picker>
                                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>结束时间</label>
                                <date-picker required v-model="formData.end_at" placeholder="结束时间"></date-picker>
                                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>序号</label>
                                <input type="number" min="1" required class="form-control"
                                       v-model.trim="formData.order"
                                       placeholder="序号顺序决定显示顺序，序号越小，位置越靠上，最小为1">
                                <span class="glyphicon glyphicon-triangle-top form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>标题</label>
                                <input type="text" required class="form-control"
                                       v-model.trim="formData.title" placeholder="标题">
                                <span class="glyphicon glyphicon-header form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label>公告内容</label>
                                <textarea type="text" class="form-control" row="3" required placeholder="公告内容"
                                          v-model.trim="formData.content"></textarea>
                            </div>
                            <div class="form-group">
                                <label v-for="(value, index) in popFrequency">
                                    &nbsp;&nbsp;&nbsp;{{ value }}
                                    <input type="radio" class="minimal" :value="index"
                                           v-model="formData.pop_frequency">
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--#include virtual="/ssi/main-footer.html"-->

</div>
<!-- ./wrapper -->

<script src="http://localhost:8080/dist/webpack/gm/notification/login.js"></script>
</body>
</html>